.block_counter .block_counter_numbers {
    text-align: center;
}

.block_counter .block_counter_number {
    background-color: #000;
    color: #0f0;
    font-size: 20px;
    padding: 2px 4px;
    border-radius: 3px;
    margin-right: 1px;
}